<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NashTech Assignment</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" />

    <link rel="stylesheet" href="~/css/header.css">

    @await RenderSectionAsync("css_showProduct", required: false)
    @await RenderSectionAsync("css_productDetail", required: false)
    @await RenderSectionAsync("css_slider", required: false)
    @await RenderSectionAsync("css_main", required: false)
    @await RenderSectionAsync("css_rating", required: false)


</head>

<body>
    <!-- Navigation -->
    <nav class="main-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3">
                    <div class="header-logo">
                        <a href="/Home/Index">
                            <img width="150" src="~/images/logo-nash.png" alt="logo">
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="header-menu">
                        <ul class="header-menu--list">
                            <li class="header-menu--list-item">Home</li>
                            <li class="header-menu--list-item">Shop</li>
                            <li class="header-menu--list-item">Page</li>
                            <li class="header-menu--list-item">Blog</li>
                            <li class="header-menu--list-item">Contact</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3">
                    <div class="header-options d-flex justify-content-around">
                        <i class="header-options--item fas fa-search"></i>
                        <i class="header-options--item far fa-user"></i>
                        <i class="header-options--item fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="~/js/ratingStar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</body>
</html>
