<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NashTech Assignment</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/header.css" />

    @await RenderSectionAsync("css_showProduct", required: false)
    @await RenderSectionAsync("css_productDetail", required: false)
    @await RenderSectionAsync("css_slider", required: false)
    @await RenderSectionAsync("css_main", required: false)
    @await RenderSectionAsync("css_rating", required: false)


</head>

<body>
    <!-- Navigation -->
    <nav id="main-header" class="main-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-2">
                    <div class="header-logo">
                        <a href="https://localhost:44378">
                            <img width="150" src="~/images/logo-nash.png" alt="logo">
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="header-menu">
                        <ul class="header-menu--list">
                            <li class="header-menu--list-item">Home</li>
                            <li class="header-menu--list-item">Shop</li>
                            <li class="header-menu--list-item">Page</li>
                            <li class="header-menu--list-item">Blog</li>
                            <li class="header-menu--list-item">Contact</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="header-options d-flex justify-content-around">
                        <partial name="_LoginPartial" />
                        @*<i class="header-options--item fas fa-shopping-cart"></i>*@
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()


    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">Nash Clothing E-comerce Website is my first Assginment in Nashtech. Using ASP.NET Core for API, MVC for Customer Page and ReactJs for Admin Page.</p>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>

                <div class="col-xs-6 col-md-6">
                    <h6>Address</h6>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1729.0478259299653!2d106.64028476111655!3d10.801387596796499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529502711460f%3A0xb7ce4406b2d0bb8b!2sC%C3%B4ng%20ty%20TNHH%20Harvey%20Nash%20Vi%E1%BB%87t%20Nam!5e0!3m2!1svi!2s!4v1619433364869!5m2!1svi!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; 2017 All Rights
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="~/js/ratingStar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="~/js/navbar.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>
