@model ProductRespone


<div class="product-card d-flex flex-column align-items-center">
    <a href="~/Products/@Model.IDProduct">
        <img class="product-card__img" src="@Model.Image" alt="">
    </a>
    <div class="product-card__content">
        <p class="product-card__name">@Model.NameProduct</p>
        <p class="product-card__price">@Model.Price $</p>
    </div>
    <button class="btn-addtocart">ADD TO CART</button>
</div>


