

<div class="product-card d-flex flex-column align-items-center">
    <img class="product-card__img" src="" alt="">
    <div class="product-card__content">
        <p class="product-card__name"></p>
        <p class="product-card__price"></p>
    </div>
    <button class="btn-addtocart">ADD TO CART</button>
</div>
