@model Assignment.Shared.Rating.RatingVM

<h5>User: someone</h5>
<h3>
    @for (int i = 0; i < Model.Value; i++)
    {
        <i class="fas fa-star" style="color: #F0ED00"></i>
    }
</h3>
<br />
<p>Ngày đăng: @Convert.ToDateTime(Model.DateRating).ToString("dd-MM-yyyy")</p>
<p>Bình luận: @Model.Comment</p>
<hr />