
.main-header {
    background-color: rgb(245, 245, 245);
}

.header-menu--list {
    display: flex;
    list-style-type: none;
}

.header-menu--list-item {
  padding: 10px 25px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}

.header-menu--list-item:hover{
  background-color: rgb(70, 68, 68);
  color: white;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.header-options {
 
}

.header-options--item {
  font-size: 20px;
  cursor: pointer;
}